/*

	Example CSS (for the website)
	oliver pope 2014
	
*/
.example {
  width: 25%;
  height: 250px;
  margin-right: 10px;
  padding: 1em 5%;
  display: inline-block;
  float: left;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
@media screen and (max-width: 600px) {
  .example {
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
  }
}
.no-top-border {
  border-top: 1px solid transparent;
}
.less-height {
  height: 175px;
}
.invisible {
  display: none;
}
.selected {
  background: #000;
}
.box {
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 0;
  -webkit-transition: 0.1s all;
          transition: 0.1s all;
}
.box:hover {
  background: #000;
}
.ex-red {
  background: #f8002a;
}
.ex-blue {
  background: #214880;
}
.ex-green {
  background: #35671a;
}
.ex-black {
  background: #000;
}
.ex-violet {
  background: #292655;
}
.ex-pink {
  background: #f48361;
}
.ex-sky-blue {
  background: #2bc2e8;
}
.size {
  border: 0;
  background: none;
}
.ex-s {
  font-size: 0.8em;
}
.ex-m {
  font-size: 1em;
}
.ex-l {
  font-size: 1.4em;
}
.ex-xl {
  font-size: 2em;
}
